body {
	background-color: $color-background;
	text-align: center;
}

//header text
h1 {
	font-size: 35px;
	font-family: $font-title;
	color: $color-header;
	padding:0 0.25em 0.25em 0.25em;
	text-decoration: none;
	line-height: 1.25em;
}

//button text
h2 {
	font-size: 20px;
	font-family: $font-header;
	color: $color-subheader;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-decoration: none;
}

//subheader text
h3 {
	font-size: 18px;
	font-family: $font-header;
	color: $color-subheader;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-decoration: none;
}

//default text left align, 25px indent
p {
	font-size: 12px;
	font-family: $font-description;
	color: $color-description;
	text-decoration: none;
	line-height: 1.5em;
	padding: .15em;
	text-indent: 25px;
	text-align: left;
}

//description text center align
.centerAlign{
	@extend p;
		text-align: center;
}

//description text center align Bold
.centerAlignBold{
	@extend p;
		text-align: center;
		font-weight: bold;
}

//default desktop layout
//navigation flexbox
.navBox {
	@include flexMixin($position: absolute, $height: auto, $width: auto,
	  $flex-direction: row, $justify-content: flex-start);
	top: 0px;
	padding: 30px;
	background: linear-gradient($color-background,$color-background,$transparent);
}

//title flexbox
.titleBox {
	@include flexMixin($position: absolute, $height: auto, $width: auto,
	 $background-image: linear-gradient($transparent,$color-background,$color-background),
	  $flex-direction: row, $justify-content: space-between);
	bottom: 0px;
	padding: 30px;
	background: linear-gradient($transparent,$color-background,$color-background);
}

//Potrero Badge
.potreroBadge {
	@include centerContents($height: auto, $width: auto, 
			$background-image: $image-landinghead, $flex-direction: column, $margin: 0px);
	margin-left: 20px;
}

//What Studio Title
.wsTitle {
	@include centerContents($height: auto, $width: auto, 
			$background-image: none, $flex-direction: column, $margin: 0px);
	margin-right: 50px;
}


//responsive mobile layout
@media (max-width: $mobile-width)
{
	//navigation flexbox
	.navBox {
		@include flexMixin($position: absolute, $height: auto, $width: auto,
		 $background-image: linear-gradient($color-background,$color-background,$transparent), 
		 $flex-direction: row, $justify-content: center);
		bottom: 0px;
		top: auto;
		background: linear-gradient($transparent,$color-background,$color-background);
	}

	//title flexbox
	.titleBox {
		@include flexMixin($position: absolute, $height: auto, $width: auto,
		 $background-image: linear-gradient($transparent,$color-background,$color-background), 
		 $flex-direction: row, $justify-content: flex-start);
		top: 0px;
		bottom: auto;
		background: linear-gradient($color-background,$color-background,$transparent);
	}

	//Potrero Badge
	.potreroBadge {
		display: none;
	}

	//What Studio Title
	.wsTitle {
		@include centerContents($height: auto, $width: auto, 
				$background-image: none, $flex-direction: column, $margin: 0px);
		margin-right: auto;
	}

	//full height, full width container for pages with z-indices
	.full_block {
		@include centerContents($height: 100vh, $width: 100vw);
		position: relative;
		overflow: hidden;
		h2 {
			@include centerContents($width: 200px);
			margin-top: 1em;
			&:hover{
						background-color: $dark-gray-tsp;
					}
		}
		a {
			text-decoration: none;
		}
	}
}

//header container -- see pages for container images
.header {
	@include centerContainer ($padding-top: 40px, $padding-bottom: 40px);
}

//navigation block
.navigation {

		ul{
			@include centerContents();
			padding: 0;
			margin-left: 10px;
		}

		li{
			display: inline-block;
			margin: 0 0.35em;
			padding: .25em .5em;
			border: none;
			background-color: none;
			border-radius: 2px;
			@extend h2;
				&:hover{
					background-color: $dark-gray-tsp;
				}
}
}

//scrollbar handling Chrome, Safari
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}