//header
.header {
	@include flexLeftJustify($position: absolute, $height: auto, $width: auto,
	 $background-image: linear-gradient($color-background,$color-background,$transparent), $flex-direction: row);
	top: 0px;
}

//footer
.footer {
	@include flexSplitJustify($position: absolute, $height: auto, $width: auto,
	 $background-image: linear-gradient($transparent,$color-background,$color-background), $flex-direction: row);
	bottom: 0px;
}

//Potrero Badge
.potreroBadge {
	@include centerContents($height: auto, $width: auto, 
			$background-image: $image-landinghead, $flex-direction: column, $margin: 0px);
	margin-left: 20px;
}

//What Studio Title
.wsTitle {
	@include centerContents($height: auto, $width: auto, 
			$background-image: none, $flex-direction: column, $margin: 0px);
	margin-right: 30px;
}

//project section
.projects_main {
	@include centerContainer()
	h2 {
		@include centerContents($width: 200px);
		margin-top: 1em;
		&:hover{
					background-color: $dark-gray-tsp;
				}
	}
	a {
		text-decoration: none;
	}
	margin-bottom: 200px;
}

//index buttons
.index_button {
	width: 150px;
	border: none;
	background-color: none;
	border-radius: 5px;
		&:hover{
			background-color: $dark-gray-tsp;
				}
}

//generalized project block
%planding {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin-bottom: 60px;
	margin-left: 40px;
	margin-right: 40px;
}

//generate project blocks from project index
@each $p-num, $title in $project-index {
	.#{$p-num}_landing {
		@extend %planding;
		@include preLoadHov('../images/#{$title}/lndImgBW.png',
			'../images/#{$title}/lndImgCL.png');
	}
}
