//project section
.projects_main {
	@include centerContents ($height: auto, $width: auto, $background-image: none, 
		$flex-direction: column, $margin: auto)
	h2 {
		@include centerContents($width: 200px);
		margin-top: 1em;
		&:hover{
					background-color: $dark-gray-tsp;
				}
	}
	a {
		text-decoration: none;
	}
	height: 100vh;
}

//index buttons
.index_button {
	width: 150px;
	border: none;
	background-color: none;
	border-radius: 5px;
		&:hover{
			background-color: $dark-gray-tsp;
				}
}

//generalized project block
%planding {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin-bottom: 60px;
	margin-left: 40px;
	margin-right: 40px;
}

//generate project blocks from project index
@each $p-num, $title in $project-index {
	.#{$p-num}_landing {
		@extend %planding;
		@include preLoadHov('../images/#{$title}/lndImgBW.png',
			'../images/#{$title}/lndImgCL.png');
	}
}

//placeholder project container
.projectContainer {
	@include centerContents($height: auto, $width: auto,
	 $background-image: none, 
	 $flex-direction: row, $margin: auto)
	height: 85vh;
	width: 100%;
	flex-wrap: wrap;
	overflow: scroll;
	align-items: center;
}


//placeholder project images
.projectImage1 {
	@include centerContents ($height:300px, $width:300px,
	 $background-image:'../images/ceramicconcept/ceramicconcept.png', 
	 $flex-direction: row, $margin: 30px)
}
.projectImage2 {
	@include centerContents ($height:300px, $width:300px,
	 $background-image:'../images/jreije/jreije.png', 
	 $flex-direction: row, $margin: 30px)
}
.projectImage3 {
	@include centerContents ($height:300px, $width:300px,
	 $background-image:'../images/puckerbrush/puckerbrush.png', 
	 $flex-direction: row, $margin: 30px)
}